* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, html {
    --primary: linear-gradient(180deg, #364F6B 20.19%, #122335 100%);
    --secondary: linear-gradient(180deg, #F95184 0%, #CE4977 100%);
    --textColor: #F0F0F0;
    --sub: #2C435D;
    --subColor: rgba(249, 81, 132, .8);
}

body {
    font-size: 100%;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: var(--textColor);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  40px 100px;
    z-index: 1000;
}


header .logo img,
header .toggle img {
    width: 100%;
}

header .logo {
    max-width: 120px;
}

header .toggle {
    max-width: 60px;
    cursor: pointer;
}

.sci {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 100;
    transition-duration: .5s;
}

.sci.active {
    visibility: visible;
    opacity: 1;
}

.sci li{
    
}

.sci li {
    list-style: none;
}

.sci li a {
    color: #FFFFFF;
    text-decoration: none;
}

.sci li a img {
    filter: invert(1);
    transform: scale(0.6);
}


html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}